# Project 3 Part 1 (Gurtej Bains)

## Import Libraries

In [18]:
# import libraries  

# Numpy
import numpy as np

# Pandas
import pandas as pd

# MatPlotLib
import matplotlib.pyplot as plt

# Seaborn
import seaborn as sns

# MissingNo
import missingno as msno

# SQL related 
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine

from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

# suppress warnings
import warnings
warnings.filterwarnings("ignore")

## Connection with the DB

In [19]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
username = "root"
password = "root" # (or whatever password you chose during mysql installation)
db_name = "world"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [20]:
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/world)

# Basics Data

## Import data

In [30]:
basics = pd.read_csv(r"C:\Users\gurte\OneDrive\All About Learning\Coding Dojo\Learning Material\05 Projects\Project 3\data downloads\title.basics.tsv.gz", sep='\t', low_memory=False)
basics.shape

(9624113, 9)

In [31]:
# make a copy for cleaning data using sql
basics_sql = basics.copy()

In [32]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

## Cleaning the data

### Column name standardization

In [33]:
# making all column names lower case
basics.columns= basics.columns.str.lower()
basics.columns.tolist()

['tconst',
 'titletype',
 'primarytitle',
 'originaltitle',
 'isadult',
 'startyear',
 'endyear',
 'runtimeminutes',
 'genres']

### Replace '\n' values

In [34]:
basics = basics.replace({'\\N':np.nan})
basics.shape

(9624113, 9)

### Remove Null values in runtimeminutes column

In [35]:
basics = basics[basics['runtimeminutes'].notna()] 
basics.shape

(2816690, 9)

### Remove Null for Genre

In [36]:
basics = basics[basics['genres'].notna()] 
basics.shape

(2741126, 9)

### Type 'Movie'

In [38]:
basics = basics[basics['titletype'].str.lower()=='movie']
basics.shape

(377398, 9)

### Start year 2000-2022

In [39]:
basics.startyear.unique()

array(['1894', '1897', '1906', '1907', '1908', '1909', '1910', '1911',
       '1913', '1912', '1919', '1914', '1915', '1936', '1916', '1917',
       '1925', '1918', '1920', '1921', '1924', '1923', '1922', '2021',
       '1927', '1929', '1926', '1993', '1935', '1928', '1942', '1930',
       '1932', '1931', '1937', '1933', '1950', '1938', '1951', '1939',
       '1934', '1946', '1940', '1944', '1947', '1941', '1952', '1970',
       '1957', '1943', '1948', '2001', '1945', '1953', '1954', '1965',
       '1983', '1949', '1980', '1973', '1961', '1955', '1962', '1958',
       '1956', '1977', '1964', '1960', '1959', '1967', '1968', '1963',
       '1971', '1969', '1966', '1976', '1990', '1972', '1979', '1981',
       '2020', '1975', '1978', '1989', '1974', '1986', '1995', '1987',
       '1985', '2018', '1984', '1982', '1988', '1991', '2022', nan,
       '1994', '2005', '1992', '2004', '1998', '2002', '1997', '2009',
       '1996', '2017', '2000', '2006', '1999', '2008', '2007', '2003',
       '1903', '2012', '2010', '2013', '2019', '2011', '1904', '1899',
       '1900', '2015', '1905', '2016', '2014', '2023', '2024', '1896',
       '2025', '2029'], dtype=object)

In [40]:
basics['startyear'].dtypes

dtype('O')

In [41]:
basics = basics[basics['startyear'].isin(['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', 
                                       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022'])]
basics.shape

(221622, 9)

### Remove documentary

In [42]:
basics = basics[~basics['genres'].str.contains('documentary',case=False)]

basics.shape

(146545, 9)

### Filter only US movies

This is done after the AKA's data set is imported.

# AKA's Data

## Import data

In [43]:
akas = pd.read_csv(r"C:\Users\gurte\OneDrive\All About Learning\Coding Dojo\Learning Material\05 Projects\Project 3\data downloads\title.akas.tsv.gz", sep='\t', low_memory=False)
akas.shape

(34960911, 8)

In [44]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

## Cleaning the data

### Column name standardization

In [45]:
# making all column names lower case
akas.columns= akas.columns.str.lower()
akas.columns.tolist()

['titleid',
 'ordering',
 'title',
 'region',
 'language',
 'types',
 'attributes',
 'isoriginaltitle']

### Only US movies

In [48]:
akas.region.unique()

array(['US'], dtype=object)

In [46]:
akas = akas[akas['region'].str.upper()=='US']
akas.shape

(1415316, 8)

### Replace '\n' values

In [49]:
akas = akas.replace({'\\N':np.nan})
akas.shape

(1415316, 8)

### Filter only US movies in Basics data

In [56]:
# Filter the basics table down to only include the US by using the filter akas dataframe
basics = basics[basics['tconst'].isin(akas['titleid'])]
basics.shape

(85498, 9)

In [ ]:
q = """SELECT * 
       FROM basics 
       LIMIT 10;"""

names = pysqldf(q)
names