<h1 style="color:green; font-size:30px; font-weight:700; text-align:center">
    <u><b>Part 1: Data Prep</b></u>  
</h1> 

<p></p> 
<strong> Author:</strong> Gurtej Bains <br> 
<strong> Data Source:</strong> https://www.imdb.com/interfaces/  <br> 
<strong> Last Updated: </strong>  <br>  
<strong> Problem Statement:</strong> <br>

<h1 style="color:green"><b>Importing Modules</b> </h1>

## Import Libraries

In [4]:
# import libraries  

# Numpy
import numpy as np

# Pandas
import pandas as pd

# MatPlotLib
import matplotlib.pyplot as plt

# Seaborn
import seaborn as sns

# MissingNo
import missingno as msno

# SQL related 
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine

from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

# suppress warnings
import warnings
warnings.filterwarnings("ignore")

# for directory 
import os

<h1 style="color:green"><b>AKA's Data</b> </h1>

## Import data

In [5]:
%%time 
akas = pd.read_csv(r"C:\Users\gurte\OneDrive\All About Learning\Coding Dojo\Learning Material\05 Projects\Project 3\data downloads\title.akas.tsv.gz", sep='\t', low_memory=False)
akas.shape

CPU times: total: 38.1 s
Wall time: 39.8 s

(34960911, 8)

In [6]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

## Cleaning the data

### Column name standardization

In [7]:
# making all column names lower case
akas.columns= akas.columns.str.lower()
akas.columns.tolist()

['titleid',
 'ordering',
 'title',
 'region',
 'language',
 'types',
 'attributes',
 'isoriginaltitle']

### Only US movies

In [8]:
akas.region.unique()

array(['UA', 'DE', 'HU', 'GR', 'RU', 'US', '\\N', 'JP', 'FR', 'RO', 'GB',
       'CA', 'PT', 'AU', 'ES', 'FI', 'PL', 'AR', 'RS', 'UY', 'IT', 'BR',
       'DK', 'TR', 'XWW', 'XEU', 'SK', 'CZ', 'SE', 'NZ', 'MX', 'NO',
       'XYU', 'AT', 'VE', 'CSHH', 'SI', 'SUHH', 'IN', 'TW', 'LT', 'NL',
       'CO', 'IR', 'BG', 'SG', 'BE', 'VN', 'HR', 'DZ', 'CH', 'BF', 'PH',
       'XWG', 'HK', 'CN', 'XSA', 'EE', 'IS', 'PR', 'DDDE', 'IL', 'EG',
       'XKO', 'CL', 'IE', 'JM', 'KR', 'PE', 'GE', 'BY', 'BA', 'AE', 'PA',
       'TH', 'ZA', 'TJ', 'XSI', 'MY', 'LV', 'ID', 'PK', 'BD', 'CU', 'AL',
       'BO', 'EC', 'XAS', 'CR', 'PY', 'DO', 'GT', 'SV', 'UZ', 'BUMM',
       'YUCS', 'XPI', 'BJ', 'AZ', 'NG', 'CM', 'MA', 'GL', 'MN', 'LI',
       'LU', 'MZ', 'BM', 'KZ', 'MD', 'LB', 'IQ', 'TM', 'MK', 'TN', 'HT',
       'AM', 'LK', 'ME', 'CG', 'CI', 'SY', 'NP', 'QA', 'TO', 'SN', 'GH',
       'JO', 'KP', 'KG', 'NE', 'GN', 'VDVN', 'TD', 'SO', 'SD', 'MC', 'TT',
       'GA', 'BS', 'LY', 'AO', 'KH', 'MR', 'AF', 'MG', 'ML', 'GY', 'CY',
       'ET', 'GU', 'SR', 'MT', 'TG', 'PG', 'MU', 'BI', 'CF', 'NI', 'ZW',
       'ZM', 'GW', 'DJ', 'RW', 'TZ', 'GI', 'LA', 'SC', 'GP', 'XAU', 'FO',
       'PS', 'ZRCD', 'MO', 'AW', 'KW', 'CV', 'SL', 'SM', 'CD', 'BT', 'LS',
       'HN', 'KE', 'MQ', 'AD', 'ER', nan, 'MM', 'SA', 'CSXX', 'IM', 'XKV',
       'BH', 'BB', 'BZ', 'UG', 'AG', 'NU', 'OM', 'BW', 'LR', 'AN', 'MV',
       'YE', 'GM', 'KY', 'NC', 'DM', 'TL', 'MP', 'VA', 'GQ', 'FJ', 'SZ',
       'RE', 'EH', 'PF', 'VG', 'LC', 'MW', 'BN', 'ST', 'KM', 'FM', 'AI',
       'GD', 'VI', 'SB', 'GF', 'AQ', 'MH', 'CW', 'WS', 'VC', 'AS', 'XNA',
       'MS', 'VU', 'SH', 'KI', 'KN', 'CC', 'GS', 'TV', 'CK', 'PW', 'NR',
       'JE', 'TC'], dtype=object)

In [9]:
akas = akas[akas['region'].str.upper()=='US']
akas.shape

(1415316, 8)

### Replace '\n' values

In [10]:
akas = akas.replace({'\\N':np.nan})
akas.shape

(1415316, 8)

### Reset index

In [11]:
akas.reset_index(drop=True, inplace=True)

## QA

In [12]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1415316 entries, 0 to 1415315
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleid          1415316 non-null  object
 1   ordering         1415316 non-null  int64
 2   title            1415316 non-null  object
 3   region           1415316 non-null  object
 4   language         3824 non-null     object
 5   types            973760 non-null   object
 6   attributes       45982 non-null    object
 7   isoriginaltitle  1413971 non-null  object
dtypes: int64(1), object(7)
memory usage: 86.4+ MB

In [13]:
akas.head()

,titleid,ordering,title,region,language,types,attributes,isoriginaltitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

<h1 style="color:green"><b>Basics Data</b> </h1>

## Import data

In [14]:
%%time 
basics = pd.read_csv(r"C:\Users\gurte\OneDrive\All About Learning\Coding Dojo\Learning Material\05 Projects\Project 3\data downloads\title.basics.tsv.gz", sep='\t', low_memory=False)
basics.shape

CPU times: total: 20 s
Wall time: 20.7 s

(9624113, 9)

In [15]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

## Cleaning the data

### Column name standardization

In [16]:
# making all column names lower case
basics.columns= basics.columns.str.lower()
basics.columns.tolist()

['tconst',
 'titletype',
 'primarytitle',
 'originaltitle',
 'isadult',
 'startyear',
 'endyear',
 'runtimeminutes',
 'genres']

### Replace '\n' values

In [17]:
basics = basics.replace({'\\N':np.nan})
basics.shape

(9624113, 9)

### Remove Null values in runtimeminutes column

In [18]:
basics = basics[basics['runtimeminutes'].notna()] 
basics.shape

(2816690, 9)

### Remove Null for Genre

In [19]:
basics = basics[basics['genres'].notna()] 
basics.shape

(2741126, 9)

### Type 'Movie'

In [20]:
basics = basics[basics['titletype'].str.lower()=='movie']
basics.shape

(377398, 9)

### Start year 2000-2022

In [21]:
basics.startyear.unique()

array(['1894', '1897', '1906', '1907', '1908', '1909', '1910', '1911',
       '1913', '1912', '1919', '1914', '1915', '1936', '1916', '1917',
       '1925', '1918', '1920', '1921', '1924', '1923', '1922', '2021',
       '1927', '1929', '1926', '1993', '1935', '1928', '1942', '1930',
       '1932', '1931', '1937', '1933', '1950', '1938', '1951', '1939',
       '1934', '1946', '1940', '1944', '1947', '1941', '1952', '1970',
       '1957', '1943', '1948', '2001', '1945', '1953', '1954', '1965',
       '1983', '1949', '1980', '1973', '1961', '1955', '1962', '1958',
       '1956', '1977', '1964', '1960', '1959', '1967', '1968', '1963',
       '1971', '1969', '1966', '1976', '1990', '1972', '1979', '1981',
       '2020', '1975', '1978', '1989', '1974', '1986', '1995', '1987',
       '1985', '2018', '1984', '1982', '1988', '1991', '2022', nan,
       '1994', '2005', '1992', '2004', '1998', '2002', '1997', '2009',
       '1996', '2017', '2000', '2006', '1999', '2008', '2007', '2003',
       '1903', '2012', '2010', '2013', '2019', '2011', '1904', '1899',
       '1900', '2015', '1905', '2016', '2014', '2023', '2024', '1896',
       '2025', '2029'], dtype=object)

In [22]:
basics['startyear'].dtypes

dtype('O')

In [23]:
basics = basics[basics['startyear'].isin(['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', 
                                       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022'])]
basics.shape

(221622, 9)

### Remove documentary

In [24]:
basics = basics[~basics['genres'].str.contains('documentary',case=False)]

basics.shape

(146545, 9)

### Filter only US movies

In [25]:
basics = basics[basics['tconst'].isin(akas['titleid'])]
basics.shape

(85498, 9)

### Reset index

In [26]:
basics.reset_index(drop=True, inplace=True)

## QA

In [27]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85498 entries, 0 to 85497
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          85498 non-null  object
 1   titletype       85498 non-null  object
 2   primarytitle    85498 non-null  object
 3   originaltitle   85498 non-null  object
 4   isadult         85498 non-null  object
 5   startyear       85498 non-null  object
 6   endyear         0 non-null      object
 7   runtimeminutes  85498 non-null  object
 8   genres          85498 non-null  object
dtypes: object(9)
memory usage: 5.9+ MB

In [28]:
basics.head()

,tconst,titletype,primarytitle,originaltitle,isadult,startyear,endyear,runtimeminutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama

<h1 style="color:green"><b>Ratings Data</b> </h1>

## Import data

In [29]:
%%time 
ratings = pd.read_csv(r"C:\Users\gurte\OneDrive\All About Learning\Coding Dojo\Learning Material\05 Projects\Project 3\data downloads\title.ratings.tsv.gz", sep='\t', low_memory=False)
ratings.shape

CPU times: total: 594 ms
Wall time: 682 ms

(1280582, 3)

In [30]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1953
1  tt0000002            5.8       264
2  tt0000003            6.5      1786
3  tt0000004            5.6       179
4  tt0000005            6.2      2587

## Cleaning the data

### Column name standardization

In [31]:
# making all column names lower case
ratings.columns= ratings.columns.str.lower()
ratings.columns.tolist()

['tconst', 'averagerating', 'numvotes']

### Replace '\n' values

In [32]:
ratings = ratings.replace({'\\N':np.nan})
ratings.shape

(1280582, 3)

### Filter only US movies

In [33]:
ratings = ratings[ratings['tconst'].isin(akas['titleid'])]
ratings.shape

(489321, 3)

### Reset index

In [34]:
ratings.reset_index(drop=True, inplace=True)

## QA

In [35]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489321 entries, 0 to 489320
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         489321 non-null  object
 1   averagerating  489321 non-null  float64
 2   numvotes       489321 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 11.2+ MB

In [36]:
ratings.head()

      tconst  averagerating  numvotes
0  tt0000001            5.7      1953
1  tt0000002            5.8       264
2  tt0000005            6.2      2587
3  tt0000006            5.1       177
4  tt0000007            5.4       812

<h1 style="color:green"><b>Saving Data</b> </h1>

## Make directory

In [37]:
# create directory 
os.makedirs('clean data/',exist_ok=True) 

# Confirm folder created
os.listdir("clean data/")

['title_akas.csv.gz', 'title_basics.csv.gz', 'title_ratings.csv.gz']

## Save data

In [38]:
%%time 

## Save akas file 
akas.to_csv("clean data/title_akas.csv.gz",compression='gzip',index=False)

# Save basics file 
basics.to_csv("clean data/title_basics.csv.gz",compression='gzip',index=False)

# save ratings file 
ratings.to_csv("clean data/title_ratings.csv.gz",compression='gzip',index=False)

CPU times: total: 13.8 s
Wall time: 14.5 s