<h1 style="color:green; font-size:30px; font-weight:700; text-align:center">
    <u><b>Part 4: TMDB ETL</b></u>  
</h1> 

<p></p> 
<strong> Author:</strong> Gurtej Bains <br> 
<strong> Data Source:</strong> https://www.imdb.com/interfaces/  <br> 
<strong> Last Updated: </strong>  <br>  
<strong> Problem Statement:</strong> <br>

## Import Libraries

In [10]:
# import libraries  

# Numpy
import numpy as np

# Pandas
import pandas as pd

# MatPlotLib
import matplotlib.pyplot as plt

# Seaborn
import seaborn as sns

# MissingNo
import missingno as msno

# SQL related 
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy.types import *
from sqlalchemy_utils import create_database, database_exists
from sqlalchemy import create_engine

from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

# suppress warnings
import warnings
warnings.filterwarnings("ignore")

# for directory 
import os

# TQDM
import tmdbsimple as tmdb
from tqdm.notebook import tqdm_notebook

## Color class

In [6]:
# Color class to make print look pretty  
class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'

print(color.BOLD + 'Hello, World!' + color.END)

Hello, World!

## Database

In [8]:
connection_str = "mysql+pymysql://root:root@localhost/movies"

In [9]:
engine = create_engine(connection_str)
engine

Engine(mysql+pymysql://root:***@localhost/movies)

In [11]:
# Check if the database exists. If not, create it.
if database_exists(connection_str) == False:
  create_database(connection_str)
else:
  print('The database already exists')

The database already exists

## Data folder

In [7]:
FOLDER = "clean data/"

os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['.ipynb_checkpoints',
 'final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'final_tmdb_data_2002.csv.gz',
 'final_tmdb_data_2003.csv.gz',
 'final_tmdb_data_2004.csv.gz',
 'final_tmdb_data_2005.csv.gz',
 'final_tmdb_data_2006.csv.gz',
 'final_tmdb_data_2007.csv.gz',
 'final_tmdb_data_2008.csv.gz',
 'final_tmdb_data_2009.csv.gz',
 'final_tmdb_data_2010.csv.gz',
 'final_tmdb_data_2011.csv.gz',
 'final_tmdb_data_2012.csv.gz',
 'final_tmdb_data_2013.csv.gz',
 'final_tmdb_data_2014.csv.gz',
 'final_tmdb_data_2015.csv.gz',
 'final_tmdb_data_2016.csv.gz',
 'final_tmdb_data_2017.csv.gz',
 'final_tmdb_data_2018.csv.gz',
 'final_tmdb_data_2019.csv.gz',
 'final_tmdb_data_2020.csv.gz',
 'final_tmdb_data_2021.csv.gz',
 'final_tmdb_data_2022.csv.gz',
 'title_akas.csv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json',
 'tmdb_api_results_2002.json',
 'tmdb_api_results_2003.json',
 'tmdb_api_results_2004.json',
 'tmdb_api_results_2005.json',
 'tmdb_api_results_2006.json',
 'tmdb_api_results_2007.json',
 'tmdb_api_results_2008.json',
 'tmdb_api_results_2009.json',
 'tmdb_api_results_2010.json',
 'tmdb_api_results_2011.json',
 'tmdb_api_results_2012.json',
 'tmdb_api_results_2013.json',
 'tmdb_api_results_2014.json',
 'tmdb_api_results_2015.json',
 'tmdb_api_results_2016.json',
 'tmdb_api_results_2017.json',
 'tmdb_api_results_2018.json',
 'tmdb_api_results_2019.json',
 'tmdb_api_results_2020.json',
 'tmdb_api_results_2021.json',
 'tmdb_api_results_2022.json',
 'tmdb_results_combined.csv.gz']

## Import & Merge files

In [16]:
# Import TMDB data csv file for the first year
year = 2000
tmdb_results_combined_final_df = pd.read_csv(f'clean data/final_tmdb_data_{year}.csv.gz') 
tmdb_results_combined_final_df.head(2)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.5,22.0,NaN

In [17]:
# Remove the initial row which has null data
tmdb_results_combined_final_df = tmdb_results_combined_final_df.loc[1:,:] 
tmdb_results_combined_final_df.head(2)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.5,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.1,8.0,NaN

In [19]:
# Create a list of years
years = [*range(2001, 2022, 1)]

# Loop through the years and append each year to the combined dataframe
for year in years:
    # Import TMDB data csv file for the current year
    current_year_df = pd.read_csv(f'clean data/final_tmdb_data_{year}.csv.gz')
    # remove the initial row which has null data
    current_year_df = current_year_df.loc[1:,:] 
    # append TMDB data csv file for the current year to the combined dataframe
    tmdb_results_combined_final_df = tmdb_results_combined_final_df.append(current_year_df)
    
# Display the head and tail of the dataframe
tmdb_results_combined_final_df.shape

(62112, 26)

In [20]:
groups = {}
for certification in tmdb_results_combined_final_df['certification'].unique():
    temp_df = tmdb_results_combined_final_df.loc[tmdb_results_combined_final_df['certification'] == certification, 'revenue']
    groups[certification] = temp_df
groups.keys()

dict_keys([nan, 'PG', 'R', 'G', 'NR', 'PG-13', 'NC-17', 'Unrated', '-', 'UR', 'Not Rated', 'ScreamFest Horror Film Festival', 'PG-13 ', '10'])

In [21]:
# Remove “ ” from certification
to_replace = [' ']
columns_to_update = ['certification']
for column in columns_to_update:
    for char in to_replace:
        tmdb_results_combined_final_df[column] = tmdb_results_combined_final_df[column].str.replace(char,'', regex=False)

## Save the data

In [23]:
# Save a final merged .csv.gz of all of the TMDB api data 
tmdb_results_combined_final_df.to_csv("clean data/tmdb_results_combined_final_df.csv.gz", 
                                compression="gzip", 
                                index=False)

In [24]:
# Drop columns
tmdb_results_combined_final_df = tmdb_results_combined_final_df.loc[:,["imdb_id","revenue",'budget','certification']]

In [25]:
tmdb_results_combined_final_df.head()

     imdb_id     revenue      budget certification
1  tt0113026         0.0  10000000.0           NaN
2  tt0113092         0.0         0.0           NaN
3  tt0116391         0.0         0.0           NaN
4  tt0118694  12854953.0    150000.0            PG
5  tt0118852         0.0         0.0             R

In [26]:
tmdb_results_combined_final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62112 entries, 1 to 3894
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   imdb_id        62112 non-null  object
 1   revenue        62112 non-null  float64
 2   budget         62112 non-null  float64
 3   certification  15056 non-null  object
dtypes: float64(2), object(2)
memory usage: 2.4+ MB

## Push to the DB

In [28]:
# Calculate max string lengths for object columns
imdb_id_len = tmdb_results_combined_final_df['imdb_id'].fillna('').map(len).max()
certification_len = tmdb_results_combined_final_df['certification'].fillna('').map(len).max()


# Use 1 + the max_str_len for object columns
# Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    'imdb_id': String(imdb_id_len+1), 
    'budget':Float(),
    'revenue':Float(),
    'certification': String(certification_len+1)}

In [29]:
# Save the dataframe to an sql table
# with appropriate datatypes and set index=False
tmdb_results_combined_final_df.to_sql('tmdb_data',
              engine, 
              dtype=df_schema,
              if_exists='replace',
              index=False)

62112

In [30]:
# Use the sqlalchemy engine to update the table and set imdb_id as the primary key
engine.execute('ALTER TABLE tmdb_data ADD PRIMARY KEY (`imdb_id`);')

In [31]:
q = """
SELECT * 
FROM tmdb_data LIMIT 5
"""
pd.read_sql(q, engine)

     imdb_id     revenue      budget certification
0  tt0035423  76019000.0  48000000.0         PG-13
1  tt0062336         0.0         0.0          None
2  tt0069049         0.0  12000000.0             R
3  tt0088751         0.0    350000.0          None
4  tt0096056         0.0         0.0          None

In [36]:
q = """
SELECT * 
FROM tmdb_data 
"""
all = pd.read_sql(q, engine)

In [37]:
all.shape

(62112, 4)